header {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  align-items: center;
}
.toggle-button {
  display: flex;
  /* width: 10%; */
  /* height: 50px; */
  /* background-color: hsl(207, 26%, 17%); */
  justify-content: center;
  align-items: center;

  border-radius: 25px;
  border: none;
  margin-right: 50px;
}
.toggle-button img {
  background-color: hsl(207, 26%, 17%);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 50px;
}
hr {
  box-shadow: 2px 2px 1px rgb(8, 8, 8);
}
.input {
  margin-left: 80px;
  display: flex;
  justify-content: space-between;
}
.submit {
  margin-right: 60px;
}

body {
  color: white;
  background-color: hsl(207, 26%, 17%);
}
